<div class="row mg-top-xl">
    <div class="col s12 m6 l7 xl4">
        <div class="card">
            <div class="card-image icon-center">
                <i class="material-icons icon-menu">portrait</i>
            </div>
            <div class="card-content">
                <div class="card-action text-align-center">
                    <a href="@Url.Action("Index","Participantes")" class="card-menu-title" id="btnParticipantes">Participantes</a>
                </div>
            </div>
        </div>
    </div>

</div>

