.icon-center {
    text-align: center;
}
.icon-menu {
    font-size: 175px !important;
}

.icon-yellow {
    color: yellow;
}

.icon-white {
    color: white;
}

.icon-red {
    color: red;
}