.text-align {

    &-center{
        text-align: center;
    }

    &-left  {
        text-align: left;
    }

    &-rigth {
        text-align: right;
    }

}

.text-title {
    font-size: 32px;
    font-weight: bold;
}
