@using ProyectoFotoCore3.Models.Entities.Apartado.Model
@model ApartadosVMO

<div class="row mg-top-xl">
    <div class="col s12 m4 l3 xl2">
        <button class="btn waves-effect waves-light green">Añadir</button>
    </div>
</div>

<div class="row">
    <div class="col s12 m7 l9 xl8">
        @foreach (var apartado in Model.Apartados)
        {
            <div>
                @apartado.Name
            </div>
        }
    </div>
</div>
