@section Scripts{

    <script src="~/js/Common/util.js"></script>
    <script>
        $(document).ready(function () {
            LoadPartial("tablaApartado", "@Url.Action("GetTabla","Apartado")", "GET", null);

            $("#btnAdd").click(function () {
                LoadPartial("modalApartado", "@Url.Action("Create","Apartado")", "GET", null);

            });

        });


        async function DeleteApartado(id) {
            var data = await SendForm("@Url.Action("Delete","Apartado")", "DELETE", { "id": id });
            Toast(data.message);
            LoadPartial("tablaApartado", "@Url.Action("GetTabla","Apartado")", "GET", null);
        }
    </script>
}


<div class="row mg-top-xl">
    <div class="col s12 container-flex ">
        <div>
            <span class="text-title">Apartados</span>
        </div>
        <div>
            <button class="btn waves-effect waves-light green" id="btnAdd">Añadir</button>
        </div>

    </div>
</div>

<div id="modalApartado">

</div>
<div class="row">
    <div id="tablaApartado" class="col s12">



    </div>
</div>


