@section Scripts {

    <script src="~/js/Common/util.js"></script>

    <script>
    $(document).ready(function () {
        debugger;
        LoadPartial("renderList", "@Url.Action("ParticipantesList","Participantes")", "GET", null);
        LoadPartial("renderForm", "@Url.Action("Create","Participantes")", "GET", null);


                //var form = ;

    });
    </script>
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<form asp-controller="Participantes" asp-action="Index" data-ajax="true" data-ajax-method="POST">
    <input type="text" name="name" /><input type="submit" />
</form>
<script>
    $("#formularioajax").removeData('validator');
    $("#formularioajax").removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse("formularioajax");
</script>
<br />


<a class="btn btn-success" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv" href="@Url.Action("ParticipantesList","Participantes")">List All</a>
<div id="UpdateContentDiv"></div>

<div class="row">
    <div class="col s4">
        <div id="renderForm">

        </div>
    </div>
    <div class="col s8">
        <div id="renderList">

        </div>
    </div>
</div>


