@using ProyectoFotoCore3.Models.Entities.User.Model
@model LoginVMO

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>Login</title>

    <link href="~/css/application.css" rel="stylesheet" />
    <link href="~/css/login/login.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 card-login-content">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido al panel de administración</h1>
                                </div>
                                <form class="user" asp-controller="Login" asp-action="Index" method="post">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input asp-for="Nickname" type="text" class="form-control form-control-user" placeholder="Escribe tu nombre de usuario">
                                        @Html.ValidationMessageFor(x => x.Nickname)
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Escribe tu contraseña">
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>
                                    <span class="text-danger">@ViewData["ErrorLogin"]</span>
                                    <button type="submit"  class="btn btn-primary btn-user btn-block"> Entrar </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>